@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

@media screen { max-width: 1200px;
    background-color:;
}

* {
    margin: 0;
    padding:0;
   
}

body{
    background-color:#AD68A3;
}
/* navbar settings*/

label.logo{
    font-family: 'Explora',cursive;
    font-size:50px;
    font-weight:bold;
    position: relative;
    color:#412234;
    padding:-5px 30px;
    justify-content: left;
    
   
}

.NavBar{
    display:flexbox;
   align-items: right;
   justify-content: right;
    padding:26px 15px;
    margin:-12px;
   background-color:#96FABB;
   color: #fff;
   box-shadow: 2px 5px #db7ee4;
}
    

.NavBar ul {
float: right;
margin: -10px 10px;
justify-content: right;
padding: 20px 10px ;



}

.NavBar ul li{
    display: inline-block;
    float:left;
    list-style: none;
    padding: 20px 12px;
}

.NavBar ul li a {
    color:#412234;
    font-size: 12px;
    font-family: 'Lora', serif; ;
    text-transform:uppercase;
    font-weight: bold;
    text-decoration: none;
}
/* here are the text settings */

a:hover {
    background: #db7ee4;
}


/*pictures*/
/* loetje picture*/
.loetje {
    border: 1px solid #ddd;
   height: 240px;
   width: 230px;
 border-radius: 10%;
 position: fixed;
 left:1000px;
 top: 45px;
 animation: fadeIn 4s;
}

.artwork{
    border: 1px solid #fcf1f1;
    height:200px;
    width: 200px;
    border-radius:5%;
    position: absolute;
    left: 18px;
    bottom: 545px;
}

@media screen and (min-width:1024px ) {
    .loetje{
        position:relative;
        right: 500px;
        bottom: -24px;    
    }
    
}

@media  screen and ( min-width:1024px) {
        .text {
            position: relative;
        }

}
    


/* text */
h1 {
    position: relative;
}

p1{
    position: relative;
    bottom:;
}




/* the note block containing an introduction */
.Note-text  {
    border: 2px solid #ccc;
  background-color: #BCFAA7;
  box-shadow: #2b2a2a;
  padding-top: 10px;
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 4px;
  height: 35px;
  font-size: 16px;
  font-family: "Lora",serif;
  position :absolute;
  left: 800px;
  bottom:250px;
 overflow-wrap: break-word;
  border-radius: 20px;
  animation: fadeIn 4.5s;/*Note-text 2s ease-in-out forwards;*/
}

/*buttons */
#story {
    position: fixed;
    left:1000px;
    bottom: 200px;
    padding: 6px 25px;
    margin-top: 4px;
    border-radius: 25px;
    border: 2px solid #050505;
    word-spacing: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B49FCC;
    animation: fadeIn 2s;
}

#story:hover {
    background-color: #db7ee4;
}
#LoetArt {
    position: relative;
    left:100px;
    position: fixed;
    bottom: 200px;
    padding: 6px 25px;
    margin-top: 4px;
    border-radius: 25px;
    border: 2px solid #050505;
    word-spacing: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B49FCC;
    animation: fadeIn 2s;

}
/*animations */
@keyframes Note-text {
   /* the 0% represents the starting position */
    0% {
      left: -2300px;
    }
    /* the 100 % represents the end position vw is viewwidth */
    100% {
      left: 60vw;
    }
  }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }