@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


* {
    margin: 0;
    padding:0;
   
}

body{
    background-color:#fff;
}
/* navbar settings*/

label.logo{
    font-family: 'Explora',cursive;
    font-size:50px;
    font-weight:bold;
    position: relative;
    color:#412234;
    padding:-5px 30px;
    justify-content: left;
    
   
}

.NavBar{
    display:flexbox;
   align-items: right;
   justify-content: right;
    padding:26px 15px;
    margin:-12px;
   background-color:#f8bbbb;
   color: #fff;
}
    

.NavBar ul {
float: right;
margin: -10px 10px;
justify-content: right;
padding: 20px 10px ;



}

.NavBar ul li{
    display: inline-block;
    float:left;
    list-style: none;
    padding: 20px 12px;
}

.NavBar ul li a {
    color:#412234;
    font-size: 12px;
    font-family: 'Lora', serif; ;
    text-transform:uppercase;
    font-weight: bold;
    text-decoration: none;
}
/* here are the text settings */

a:hover {
    background: #B49FCC;
}

/* loetje picture*/

.loetje {
    border: 1px solid #ddd;
   height: 240px;
   width: 230px;
 border-radius: 10%;
 position: fixed;
 left:1000px;
 bottom: 500px;
}

/* text */
h1 {
    position: relative;
}

p1{
    position: relative;
    bottom:;
}