* {
    margin: 0;
    padding:0;
   
}


/* navbar settings*/

.logo{
    font-size:32px;
    position: relative;
}

.NavBar{
    display: flex;

   align-items: center;

   justify-content: left;

    padding: 50px;

   background-color: teal;

   color: #fff;
}
    

.NavBar ul li{
    float:left;
    list-style: none;
    padding: 15px 12px
}
